<!--footer-->
<footer class="border-top border-success pt-3 position-sm-fixed bottom-sm-0 w-sm-100 d-md-flex justify-content-md-evenly">
        <!-- creator infos-->
            <p class="fs-6 text-center text-success">Created by <a class="link-success fw-bold" href="https://eulaliapi.github.io/"
                    target="_blank">Eulalia Pirone</a>
                <a class="mx-2 link-success fw-bold" href="https://github.com/eulaliapi" target="_blank"><i class="bi bi-github"></i></a>
            </p>
        
        <!--reference infos-->
            <p class="fs-6 text-center text-success">For more information about climate change,<br>
                visit <a class="link-success fw-bold" href="https://www.goclimate.com/" target="_blank">goclimate.com</a>
            </p>
</footer>