<!--footer-->
<footer class="footer">
    <div class="footer-container">
        <!-- creator infos-->
        <div class="footer-item">
            <p class="text-center">Created by <a class="link" href="https://eulaliapi.github.io/"
                    target="_blank">Eulalia Pirone</a>
                <a class="link" href="https://github.com/eulaliapi" target="_blank"><i class="bi bi-github"></i></a>
            </p>
        </div>
        <!--reference infos-->
        <div class="footer-item">
            <p class="text-center">For more information about climate change,<br>
                visit <a class="link" href="https://www.goclimate.com/" target="_blank">goclimate.com</a>
            </p>
        </div>
    </div>
</footer>