.column {
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
    padding: 1em 0.5em;
}

.info {
    display: block;
}

.info-item {
    margin: 0.5em 0;
}

.card-item{
    margin: 3em;
}

.block-text {
    display: block;
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-semibold {
    font-weight: var(--fw-semi-bold);
}

.arrow-center {
    margin: 0.5rem 0;
    text-align: center;
}

.footprint {
    margin: 1rem 0;
}

@media screen and (min-width: 48em) {

    .column {
        display: inline-flex;
        margin: 2em 0;
    }

    .info-item {
        margin: 3em;
        text-align: center;
    }

    .card-item {
        margin: 6em;
        text-align: center;
    }

    .block-text {
        display: inline;
        margin-left: 1em;
        text-align: center;
    }
}