<!--details-->
<section>
    <!--  my-2 mx-auto container -->
    <ng-template *ngIf="flightFootprintObject; then showflightInfos else showpresentationCard"></ng-template> 
</section>

    <!--presentation card-->
    <ng-template #showpresentationCard>
          <p class="text-center text-success" id="show-presentation-card_p">Enter the details of the flight and find out its emissions.</p>
    </ng-template>

    <!--details container-->
    <ng-template #showflightInfos>
        <!--departure and arrival-->
        <div class="text-center" id="origin-destination-infos">
            <!--departure-->
            <p id="origin-infos">
                <span class="text-success" id="origin-infos_label">From</span>
                <span class="text-success fw-semibold ms-1" id="origin-infos_text">{{flightFootprintObject?.[1]["origin"]["city"]}}, {{flightFootprintObject?.[1]["origin"]["country"]}}, {{flightFootprintObject?.[1]["origin"]["name"]}} ({{flightFootprintObject?.[1]["origin"]["code"]}})</span>
            </p>
            <!--arrow icon-->
            <div class="text-center text-success" id="arrow-icon">
                <i class="bi bi-arrow-right text-semibold"></i>
            </div>
            <!--arrival-->
            <p id="destination-infos">
                <span class="text-success" id="destination-infos_label">To</span>
                <span class="text-success fw-semibold ms-1" id="destination-infos_text">{{flightFootprintObject?.[1]["destination"]["city"]}}, {{flightFootprintObject?.[1]["destination"]["country"]}}, {{flightFootprintObject?.[1]["destination"]["name"]}} ({{flightFootprintObject?.[1]["destination"]["code"]}})</span>
            </p>
        </div>

        <!--cabin-->
        <div class="text-center" id="cabin">
            <p id="cabin-p">
                <span class="text-success fw-semibold ms-1" id="cabin-p_text">{{flightFootprintObject?.[1]["cabin_class"]}} </span>
                <span class="text-success" id="cabin-p_label">class flight</span>
            </p>
        </div>

        <!--footprint info-->
        <div class="text-center" id="flight-footprint-infos">

            <!--single ticket-->
            <p id="flight-footprint-single">
                <span class="text-success fw-semibold ms-1" id="flight-footprint-single_text"> {{flightFootprintObject?.[0]?.[0] | number:'0.0-1'}} tonnes CO2e </span>
                <span class="text-success" id="flight-footprint-single_label">per ticket</span>
            </p>

            <!-- n tickets -->
            <div class="text-center" id="flight-footprint-ntickets">
                <p class="text-success" id="flight-footprint-ntickets_label">Total ({{flightFootprintObject?.[1]["tickets"]}} tickets)</p>
                <p class="text-success fw-semibold ms-1" id="flight-footprint-ntickets_text">{{flightFootprintObject?.[0]?.[1] | number:'0.0-1'}} tonnes CO2e</p>
            </div>

        </div>

    </ng-template>