 <!--form-->
 <section id="form_section">

  <form class="border border-success rounded" id="form_form" [formGroup]="flightForm" (ngSubmit)="onSubmit()">

    <!--origin-->
    <div class="m-2 m-md-4 position-relative" id="form_origin">

      <app-label for="origin" text="From"></app-label>
      <app-input type="text" name="origin"
      formControlName="origin"
      ngDefaultControl
      [value]="selectedOriginAirport"
      (emitInput)="onFocus($event)"></app-input>

      <app-list *ngIf="showOriginList" text="No results found :(" id="origin"
      [listOfAirports]="matchingOriginAirports" 
      (selectedAirport)="setAirport($event)">
      </app-list>
      
      <app-invalid-input 
      *ngIf="flightForm.get('origin')?.dirty && flightForm.get('origin')?.invalid"
      text="Invalid input. Please select an option from the list.">
      </app-invalid-input>

    </div>

    <!--destination-->
    <div class="m-2 m-md-4 position-relative" id="form_destination">

      <app-label for="destination" text="To"></app-label>
      <app-input type="text" name="destination"
      formControlName="destination"
      ngDefaultControl
      [value]="selectedDestinationAirport" 
      (emitInput)="onFocus($event)"></app-input>

      <app-list *ngIf="showDestinationList" text="No results found :(" id="destination"
      [listOfAirports]="matchingDestinationAirports" 
      (selectedAirport)="setAirport($event)">
      </app-list>

      <app-invalid-input 
      *ngIf="flightForm.get('destination')?.dirty && flightForm.get('destination')?.invalid"
      text="Invalid input. Please select an option from the list.">
      </app-invalid-input>

    </div>

    <!--cabin class-->
    <div class="m-2 m-md-4" id="form_cabin">
      <app-label for="cabin_class" text="Cabin class"></app-label>
      <app-select formControlName="cabin_class" ngDefaultControl [options]="cabin_class_options"></app-select>
    </div>

    <!--tickets-->
    <div class="m-2 m-md-4" id="form_tickets">
      <app-label for="tickets" text="N° tickets"></app-label>
      <app-input type="number" min="1" formControlName="tickets" ngDefaultControl></app-input>
    </div>

    <!--submit button-->
    <div class="my-2 d-grid col-6 mx-auto my-md-4" id="form_submit">
      <app-button type="submit" text="Go" [disabled]="flightForm.invalid"></app-button>
    </div>

  </form>
</section>